@inherits LayoutComponentBase

<BlazoredToasts />
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    
    <div class="top-row px-4 navbar-dark">
        <AuthorizeView>
            <Authorized>
                <NavLink class="nav-link" href="">
                    <span class="oi oi-bell" aria-hidden="true"></span> 
                </NavLink>
                <NavLink class="nav-link" href="">
                    <img src="/GeneralImages/login-image.jpg" width="30" class="rounded-circle float-none align-content-md-center">
                    <span aria-hidden="true"></span>  @context.User.Identity.Name
                </NavLink>

                <NavLink class="nav-link" href="logout">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                </NavLink>
            </Authorized>
        </AuthorizeView>
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4 mt-6">
        <div class="card">
            <div class="card-body">
                @Body
            </div>
        </div>

    </div>
</div>
