@page "/"
<PageTitle Title="Why Independence Matters" />



<div style="max-width: 850px; margin: 0px auto; font: 300 1.1em / 1.5 Helvetica, Verdana, sans-serif; text-align: left;">
    <img src="/GeneralImages/footer-orange-900-2019.jpg" style="        height: 300px;  width: auto" />
    <br/>
    <p>Think about the last good book you read. Did it make you feel more connected to others? Maybe it served as a welcome escape. Maybe it helped you rediscover the beauty in life. Did it surprise you?</p>
    <p>As an independent bookstore, we strive to offer the same variety and richness of experience as the books on our shelves. And because the only people we&rsquo;re beholden to are our customers and ourselves, we can focus on what really matters &mdash; promoting diverse perspectives, upholding the free exchange of ideas, championing the enduring power of books, and bolstering the great community of readers and authors we&rsquo;re lucky to be a part of.</p>
    <p>Thank you for supporting these lofty goals. Your choice sustains a family business, and allows us to follow our passion for getting the right books into the right hands, 365 days a year.</p>
</div>









<SurveyPrompt Title="How is Blazor working for you?" />
